.contact {
  &__container {
    padding-left: 75px;
  }
  &__item {
    align-items: baseline;
    margin: 10px 0;
    width: 100%;
  }
  &__icon {
    margin-right: 10px;
  }
  &__icon-hh {
    font-weight: 700;
  }
  .contact__list {
    position: relative;
  }
  .contact__list-extra {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  &__item-extra {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75px;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    transition: background 0.5s;
  }
  &__description {
    transition: color 0.5s;
  }
  &__description:hover {
    color: $color-bg-date;
  }
  &__description:active {
    color: rgba($color-bg-date, 0.3);
  }
  &__item-extra:hover {
    background: $color-bg-date;
  }
  &__item-extra:active {
    background: rgba($color-bg-date, 0.3);
  }
  .contact__description-extra {
    text-decoration: underline;
  }
  &__item-extra .icon {
    margin: 0;
  }
}

.contact__item-extra:before {
  color: white;
  position: absolute;
  top: 62px;
  left: calc(50% - 75px);
  width: 150px;
  text-align: center;
  background-color: #181818;
  display: none;
}

.contact__item-extra_location:before {
  content: 'Minsk/Orsha Belarus';
}

.contact__item-extra_email:before {
  content: 'alexandr-mi@inbox.ru';
}

.contact__item-extra_phone:before {
  content: '+375(25) 604-56-90';
}
.contact__item-extra_location:hover,
.contact__item-extra_email:hover,
.contact__item-extra_phone:hover{
  &:before {
    display: block;
    background-color: #181818;
  }
}
.contact__item-extra_phone:before:hover {
  background: red;
}
