.contact
  .contact__container.container
    .contact__title.title CONTACT
    .contact__list
      .contact__list-extra
        a.contact__item-extra.contact__item-extra_location(href='https://www.google.ru/maps/place/Minsk/' target="_blank")
          .contact__icon.fa.fa-map-marker.icon
          .contact__description-extra.p2 Location
        a.contact__item-extra.contact__item-extra_email(href='mailto:almi90@list.ru' target="_blank")
          .contact__icon.fa.fa-envelope-o.icon
          .contact__description-extra.p2 E-mail
        a.contact__item-extra.contact__item-extra_phone(href='tel:+375(25)604-56-90' target="_blank")
          .contact__icon.fa.fa-phone.icon
          .contact__description-extra.p2 Phone
      hr
      .contact__list-extra
        a.contact__item-extra(href='./portfolio.html' target="_blank")
          .contact__icon.fa.fa-picture-o.icon
          .contact__description-extra.p2 Portfolio
        a.contact__item-extra(href='https://github.com/alexandr-mi' target="_blank")
          .contact__icon.fa.fa-github.icon
          .contact__description-extra.p2 GitHub
        a.contact__item-extra(href='https://www.linkedin.com/in/alexandr-misostishkhov/' target="_blank")
          .contact__icon.fa.fa-linkedin.icon
          .contact__description-extra.p2 Linkedin
        a.contact__item-extra(href='https://hh.ru/resume/10330365ff0435c94e0039ed1f6937346d764a' target="_blank")
          .contact__icon.contact__icon-hh.icon hh
          .contact__description-extra.p2 HeadHunter
        a.contact__item-extra(href='https://www.instagram.com/_alexandr_mi/' target="_blank")
          .contact__icon.fa.fa-instagram.icon
          .contact__description-extra.p2 Instagram
