.languages
  .anguages__container.container
    .languages__title.title LANGUAGES
    p.languages__languege.p2
      | Russian:&nbsp;
      span.p3 Native
    p.languages__languege.p2
      | English:&nbsp;
      span.p3 A2
