.person
  .person__container.container
    img.person__photo(src='./images/person/photo.png')
    .person__about.p3
      | Hi! I'm Alexandr Misostishkhov. I'm from a small city of Orsha in Belarus and based in Minsk.
      | In 2011 he graduated from the College of Mechanics and Economics in Orsha, and in 2017 - the Academy of Modern Humanities in Moscow.
      | Now I work as a freelancer, my job is web development - creating websites, various animations in the web and programming in javascript.
