.work-experience
  .work-experience__container.container
    .work-experience__title.title WORK EXPERIENCE
    .work-experience__worck-places
      .work-place
        .work-place__date.date 2017/*
        .worc-place__text
          .work-place__name.p2 Freelance
          .work-place__position.p1 Web Developer
          .work-place__responsibilities.p3 Adaptive HTML-layout of sites with PSD-mock-ups, development of sites, JS programming.
