.svg-container
  //.svg-container__svg
  svg.svg-container__svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 210.55 219.93')
    defs
      style.
        .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8 {
          fill: none;
          stroke: #fff;
          stroke-miterlimit: 10;
        }

        .cls-1 {
          stroke-width: 0.3px;
        }

        .cls-2 {
          stroke-width: 0.5px;
        }

        .cls-3 {
          stroke-width: 0.8px;
        }

        .cls-4 {
          stroke-width: 0.7px;
        }

        .cls-5 {
          stroke-width: 0.4px;
        }

        .cls-7 {
          stroke-width: 0.2px;
        }

        .cls-8 {
          stroke-width: 0.3px;
        }
    title svg
    g(id='Слой_2', data-name='Слой 2')
      g#svg
        g#phone
          circle#button.cls-1(cx='167.04', cy='122.79', r='0.71')
          rect#border.cls-2(x='162.83', y='107.08', width='8.29', height='17.25', rx='0.8', ry='0.8')
          line#line-bottom.cls-1(x1='162.83', y1='121.45', x2='170.95', y2='121.45')
          line#line-top.cls-1(x1='166.22', y1='108.56', x2='167.89', y2='108.56')
        g#lines-to
          g#line-headphones
            polyline#lines-to__line.cls-2(points='51.98 105.14 0.65 105.14 0.65 159.48')
            circle#lines-to__circle.cls-1(cx='0.65', cy='159.98', r='0.5')
          g#line-mouse
            polyline#lines-to__line-2.cls-2(data-name='lines-to__line', points='171.46 142.83 179.96 142.83 179.96 159.48')
            circle#lines-to__circle-2.cls-1(data-name='lines-to__circle', cx='179.96', cy='159.98', r='0.5')
          g#line-phone
            //circleY = polylineY - 0.5
            polyline#lines-to__line-3.cls-2(data-name='lines-to__line', points='171.46 115.7 209.4 115.7 209.92 73.4')
            circle#lines-to__circle-3.cls-1(data-name='lines-to__circle', cx='209.9', cy='72.9', r='0.5')
          g#line-notebook
            polyline#lines-to__line-4.cls-2(data-name='lines-to__line', points='61.77 151.39 61.77 219.28 28.23 219.28')
            circle#lines-to__circle-4.cls-1(data-name='lines-to__circle', cx='27.73', cy='219.28', r='0.5')
            circle#lines-to__circle-5.cls-1(data-name='lines-to__circle', cx='77.12', cy='167.03', r='0.5')
            line#lines-to__line-5.cls-2(data-name='lines-to__line', x1='61.78', y1='167.03', x2='76.62', y2='167.03')
          g#line-bag
            polyline#lines-to__line-6.cls-2(data-name='lines-to__line', points='89.38 79.72 17.23 79.72 17.23 39.44')
            circle#lines-to__circle-6.cls-1(data-name='lines-to__circle', cx='17.23', cy='38.94', r='0.5')
          g#line-photo
            polyline#lines-to__line-7.cls-2(data-name='lines-to__line', points='167.14 77.08 167.14 0.65 143.15 0.65')
            circle#lines-to__circle-7.cls-1(data-name='lines-to__circle', cx='142.65', cy='0.65', r='0.5')
        g#photo
          rect#border-2.cls-2(data-name='border', x='158.39', y='77.08', width='17.5', height='19', rx='0.59', ry='0.59')
          rect#border-center.cls-1(x='160.65', y='79.34', width='13', height='12', rx='0.27', ry='0.27')
        g#mouse
          rect#border-3.cls-2(data-name='border', x='162.66', y='134.33', width='8.8', height='17', rx='4.15', ry='4.15')
          rect#wheel.cls-1(x='166.52', y='136.56', width='1.08', height='2.38', rx='0.54', ry='0.54')
        g#headphones
          path#hoop-bottom.cls-2(d='M73.68,102.22v0h0a10.18,10.18,0,0,0,.12-1.57A10.5,10.5,0,1,0,52.89,102')
          path#hoop-top.cls-2(d='M73.68,102.22v0a10.72,10.72,0,0,0,.64-3.69A11,11,0,1,0,52.89,102')
          path#right-embouchure.cls-3(d='M73.06,102.76c-.46-1.57-1.13-1.91-1.3-2a1.31,1.31,0,0,0-1-.09,1.54,1.54,0,0,0-.82,1.09c-.11.42-.18.74-.19.81-.29,3-.32,3.5-.36,4.49a4.32,4.32,0,0,0,.31,2,1.23,1.23,0,0,0,.82.5,1.52,1.52,0,0,0,1.19-.33,2.05,2.05,0,0,0,.59-.71A8.55,8.55,0,0,0,73.06,102.76Z')
          path#right-bowl.cls-2(d='M73,101.9c.45-.05,1.23.46,1.57,1.6a7,7,0,0,1-.24,3.56,2.06,2.06,0,0,1-2,1.36')
          path#left-embouchure.cls-3(d='M53.58,102.72c.47-1.58,1.14-1.91,1.3-2a1.31,1.31,0,0,1,1-.08,1.52,1.52,0,0,1,.82,1.08c.11.43.18.75.19.82.29,3,.32,3.5.36,4.48a4.27,4.27,0,0,1-.31,2,1.23,1.23,0,0,1-.82.51,1.54,1.54,0,0,1-1.19-.33,2,2,0,0,1-.59-.71A8.59,8.59,0,0,1,53.58,102.72Z')
          path#left-bowl.cls-2(d='M53.68,101.86c-.45,0-1.23.46-1.57,1.59a7,7,0,0,0,.24,3.56,2.05,2.05,0,0,0,1.95,1.37')
        g#bag
          line#bottom-border.cls-3(x1='126.64', y1='94.03', x2='102.75', y2='93.81')
          path#right-border.cls-3(d='M132,76.65h7.44a.39.39,0,0,1,.4.35l.76,5.14a1.45,1.45,0,0,1,0,.55l-4.2,11.17a.37.37,0,0,1-.37.25l-5.65,0')
          path#right-belt-bottom.cls-2(d='M131.77,88.29l-1.47,5.92a.41.41,0,0,1-.39.31H127a.4.4,0,0,1-.4-.47l1-6.07')
          path#right-belt-top.cls-3(d='M131.5,76.05h-3.38a.4.4,0,0,0-.4.45l.68,6.35a.48.48,0,0,1,0,.17l-.84,5.18a.64.64,0,0,0,.16.53l1.18,1.34a.64.64,0,0,0,.9.07l1.77-1.51a.63.63,0,0,0,.2-.33l1.36-5.22v-.44l-1.25-6.26A.4.4,0,0,0,131.5,76.05Z')
          path#left-belt-bottom.cls-2(d='M97.63,88.13l1.47,5.92a.42.42,0,0,0,.4.31h2.87a.4.4,0,0,0,.39-.47l-1-6.07')
          path#left-belt-top.cls-4(d='M97.9,75.9l3.38,0a.4.4,0,0,1,.4.45L101,82.68a1,1,0,0,0,0,.17l.83,5.19a.68.68,0,0,1-.15.53L100.5,89.9a.64.64,0,0,1-.9.07l-1.77-1.51a.63.63,0,0,1-.2-.33l-1.36-5.22v-.44l1.26-6.26A.39.39,0,0,1,97.9,75.9Z')
          path#left-border.cls-3(d='M97.42,76.65H90.5a.72.72,0,0,0-.7.59l-.91,5.32a.7.7,0,0,0,0,.43l4,10.48a.39.39,0,0,0,.36.25l5.75,0')
          line#center-border-right.cls-2(x1='140.52', y1='82.56', x2='133.13', y2='82.56')
          line#center-border-left.cls-2(x1='96.26', y1='82.56', x2='88.89', y2='82.56')
          line#center-border-center.cls-2(x1='128.37', y1='82.56', x2='101.01', y2='82.56')
          line#top-border-left.cls-3(x1='107.47', y1='76.65', x2='101.65', y2='76.65')
          line#top-border-roght.cls-3(x1='127.76', y1='76.65', x2='122.11', y2='76.65')
          rect.cls-5(x='107.41', y='74.6', width='14.64', height='4.29', rx='1', ry='1')
          path.cls-1(d='M121.85,78.48v1.27a1,1,0,0,1-1,1,1,1,0,0,1-1-1v-.86')
          path.cls-1(d='M109.79,78.89v.89a1,1,0,1,1-2.06,0V78.62')
        g#notepad
          path#border-4.cls-6(data-name='border', d='M72.28,151.39H55.76a2,2,0,0,1-2-2V123.55a.76.76,0,0,1,.75-.75H72.28a.65.65,0,0,1,.65.65v27.28A.66.66,0,0,1,72.28,151.39Z')
          line#lone-vertical.cls-1(x1='56.89', y1='122.8', x2='56.89', y2='148.09')
          line#line-horizontal.cls-1(x1='53.76', y1='148.09', x2='72.93', y2='148.09')
          path.cls-1(d='M64.06,151.39v4.52a.2.2,0,0,0,.34.14L66,154.44a.19.19,0,0,1,.28,0L68,156.06a.2.2,0,0,0,.34-.14v-4.53')
        g#noutbook
          path#border-5.cls-3(data-name='border', d='M90.72,118.56V151a.44.44,0,0,0,.41.41h48.14a.44.44,0,0,0,.4-.41V118.35a.79.79,0,0,1,.1-.41L146.07,102a.92.92,0,0,0,.1-.51L146,100a.43.43,0,0,0-.4-.4H85.46a.44.44,0,0,0-.41.4l-.1,1.73a.91.91,0,0,0,.1.4l5.67,16.22A.74.74,0,0,1,90.72,118.56Z')
          line#line-center.cls-1(x1='90.73', y1='118.35', x2='139.68', y2='118.25')
          ellipse#camera.cls-7(cx='115.26', cy='103.01', rx='0.91', ry='0.41')
          path#touchpad.cls-1(d='M122.05,147.23H108.47a.48.48,0,0,1-.51-.51v-6.58a.48.48,0,0,1,.51-.51h13.58a.48.48,0,0,1,.5.51v6.58A.54.54,0,0,1,122.05,147.23Z')
          path#button-2.cls-1(data-name='button', d='M103.09,127.37h-1.52a.48.48,0,0,1-.5-.51v-1.52a.48.48,0,0,1,.5-.51h1.52a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,103.09,127.37Z')
          path#button-3.cls-1(data-name='button', d='M106.64,127.37h-1.52a.49.49,0,0,1-.51-.51v-1.52a.49.49,0,0,1,.51-.51h1.52a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,106.64,127.37Z')
          path#button-4.cls-1(data-name='button', d='M110.09,127.37h-1.52a.48.48,0,0,1-.51-.51v-1.52a.48.48,0,0,1,.51-.51h1.52a.48.48,0,0,1,.5.51v1.52A.48.48,0,0,1,110.09,127.37Z')
          path#button-5.cls-1(data-name='button', d='M113.74,127.37h-1.52a.48.48,0,0,1-.51-.51v-1.52a.48.48,0,0,1,.51-.51h1.52a.48.48,0,0,1,.5.51v1.52A.48.48,0,0,1,113.74,127.37Z')
          path#button-6.cls-1(data-name='button', d='M117.38,127.37h-1.52a.48.48,0,0,1-.5-.51v-1.52a.48.48,0,0,1,.5-.51h1.52a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,117.38,127.37Z')
          path#button-7.cls-1(data-name='button', d='M120.93,127.37h-1.52a.49.49,0,0,1-.51-.51v-1.52a.49.49,0,0,1,.51-.51h1.52a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,120.93,127.37Z')
          path#button-8.cls-1(data-name='button', d='M124.48,127.37H123a.48.48,0,0,1-.51-.51v-1.52a.48.48,0,0,1,.51-.51h1.52a.49.49,0,0,1,.51.51v1.52A.49.49,0,0,1,124.48,127.37Z')
          path#button-9.cls-1(data-name='button', d='M128,127.37h-1.52a.48.48,0,0,1-.51-.51v-1.52a.48.48,0,0,1,.51-.51H128a.48.48,0,0,1,.5.51v1.52A.48.48,0,0,1,128,127.37Z')
          path#button-10.cls-1(data-name='button', d='M131.57,127.37h-1.52a.48.48,0,0,1-.5-.51v-1.52a.48.48,0,0,1,.5-.51h1.52a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,131.57,127.37Z')
          path#button-11.cls-1(data-name='button', d='M135.22,127.37H133.7a.49.49,0,0,1-.51-.51v-1.52a.49.49,0,0,1,.51-.51h1.52a.48.48,0,0,1,.51.51v1.52A.55.55,0,0,1,135.22,127.37Z')
          path#button-12.cls-1(data-name='button', d='M104.92,131H103.4a.48.48,0,0,1-.51-.51V129a.48.48,0,0,1,.51-.51h1.52a.48.48,0,0,1,.51.51v1.52A.55.55,0,0,1,104.92,131Z')
          path#button-13.cls-1(data-name='button', d='M108.47,131H107a.48.48,0,0,1-.51-.51V129a.48.48,0,0,1,.51-.51h1.52a.48.48,0,0,1,.5.51v1.52A.54.54,0,0,1,108.47,131Z')
          path#button-14.cls-1(data-name='button', d='M112,131h-1.52a.48.48,0,0,1-.5-.51V129a.48.48,0,0,1,.5-.51H112a.48.48,0,0,1,.51.51v1.52A.55.55,0,0,1,112,131Z')
          path#button-15.cls-1(data-name='button', d='M115.66,131h-1.52a.49.49,0,0,1-.51-.51V129a.48.48,0,0,1,.51-.51h1.52a.48.48,0,0,1,.51.51v1.52A.67.67,0,0,1,115.66,131Z')
          path#button-16.cls-1(data-name='button', d='M119.21,131h-1.52a.48.48,0,0,1-.51-.51V129a.48.48,0,0,1,.51-.51h1.52a.48.48,0,0,1,.51.51v1.52A.55.55,0,0,1,119.21,131Z')
          path#button-17.cls-1(data-name='button', d='M122.76,131h-1.52a.48.48,0,0,1-.51-.51V129a.48.48,0,0,1,.51-.51h1.52a.48.48,0,0,1,.5.51v1.52A.54.54,0,0,1,122.76,131Z')
          path#button-18.cls-1(data-name='button', d='M126.3,131h-1.52a.48.48,0,0,1-.5-.51V129a.48.48,0,0,1,.5-.51h1.52a.48.48,0,0,1,.51.51v1.52A.55.55,0,0,1,126.3,131Z')
          path#button-19.cls-1(data-name='button', d='M102.18,134.56h-1.52a.47.47,0,0,1-.5-.5v-1.52a.48.48,0,0,1,.5-.51h1.52a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,102.18,134.56Z')
          path#button-20.cls-1(data-name='button', d='M125.49,134.56H124a.47.47,0,0,1-.5-.5v-1.52a.48.48,0,0,1,.5-.51h1.52a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,125.49,134.56Z')
          path#button-21.cls-1(data-name='button', d='M129.75,134.56h-2.23a.48.48,0,0,1-.51-.5v-1.52a.48.48,0,0,1,.51-.51h2.23a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,129.75,134.56Z')
          path#button-22.cls-1(data-name='button', d='M106.64,134.56h-2.23a.47.47,0,0,1-.5-.5v-1.52a.48.48,0,0,1,.5-.51h2.23a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,106.64,134.56Z')
          path#button-23.cls-1(data-name='button', d='M98.53,134.56H95.19a.48.48,0,0,1-.51-.5v-1.52a.48.48,0,0,1,.51-.51h3.34a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,98.53,134.56Z')
          path#button-24.cls-1(data-name='button', d='M101.37,131H95.29a.49.49,0,0,1-.51-.51V129a.48.48,0,0,1,.51-.51h6.08a.48.48,0,0,1,.51.51v1.52A.55.55,0,0,1,101.37,131Z')
          path#button-25.cls-1(data-name='button', d='M99.45,127.37H95.19a.49.49,0,0,1-.51-.51v-1.52a.49.49,0,0,1,.51-.51h4.26a.48.48,0,0,1,.5.51v1.52A.48.48,0,0,1,99.45,127.37Z')
          path#button-26.cls-1(data-name='button', d='M121.94,134.56H108.77a.48.48,0,0,1-.51-.5v-1.52a.48.48,0,0,1,.51-.51h13.17a.48.48,0,0,1,.51.51v1.52A.48.48,0,0,1,121.94,134.56Z')
          path#button-27.cls-1(data-name='button', d='M135.22,131h-6.69a.48.48,0,0,1-.5-.51V129a.48.48,0,0,1,.5-.51h6.69a.48.48,0,0,1,.51.51v1.52A.67.67,0,0,1,135.22,131Z')
          path#button-28.cls-1(data-name='button', d='M135.22,134.56h-3.34a.48.48,0,0,1-.51-.5v-1.52a.48.48,0,0,1,.51-.51h3.34a.48.48,0,0,1,.51.51v1.52A.54.54,0,0,1,135.22,134.56Z')
          line.cls-8(x1='84.95', y1='101.73', x2='146.17', y2='101.52')
          rect.cls-8(x='59.28', y='126.44', width='11', height='2.02', rx='0.5', ry='0.5')
