.passions
  .passions_container.container
    .passions__title.title PASSIONS
    .passions__list
      .passion
        .passion__icon.fa.fa-microchip.icon
        .passion_name.p3 Technology
      .passion
        .passion__icon.fa.fa-film.icon
        .passion_name.p3 Movies
      .passion
        .passion__icon.fa.fa-music.icon
        .passion_name.p3 Music
      .passion
        .passion__icon.fa.fa-camera-retro.icon
        .passion_name.p3 Photo
      .passion
        .passion__icon.fa.fa-futbol-o.icon
        .passion_name.p3 Football
      .passion
        .passion__icon.fa.fa-globe.icon
        .passion_name.p3 Travel

