-
  var educationData = [
  {
  date: '2007/11',
  name: 'MECHANICS AND ECONOMICS',
  profession: 'Maintenance of vehicles',
  description: 'Development of technological processes for diagnosing, servicing and repairing cars, organizing, planning and managing these processes, developing methods and means of mechanizing technological processes.'
  },{
  date: '2012/17',
  name: 'MODERN HUMANITIES',
  profession: 'Organization management',
  description: 'Management processes of organizations of various organizational and legal forms, state and municipal management.'
  },{
  date: '2016',
  name: 'MODERN TECHNOLOGIES',
  profession: 'HTML-coder basic/advanced',
  description: 'Training in literate and modern layout of web pages.'
  },{
  date: '2017',
  name: 'MODERN TECHNOLOGIES',
  profession: 'JavaScript basic/advanced',
  description: 'Learning JavaScript is one of the basic necessary languages in web programming.'
  },{
  date: '2017/*',
  name: 'SELF-EDUCATION',
  profession: 'JavaScript, JQuery, ReactJS, design pattern and more...',
  description: 'A more in-depth study of javascript, html and css and frameworks for them.'
  }
  ]
