mixin getEducationPlace( educationPlace )
  .education__place.study-place
    .study-place__date.date= educationPlace.date
    .study-place__text
      .study-place__name.p2= educationPlace.name
      .study-place__profession.p1= educationPlace.profession
      .study-place__description.p3= educationPlace.description
