extends _layouts/mobile


block content
  //include _modules/warning/warning
  .resume__wrap
    include _modules/header/header
    include _modules/person/person
    include _modules/worck-experience/worck-experience
    include _modules/contact/contact
    include _modules/passions/passions
    include _modules/education/education
    include _modules/languages/languages
    include _modules/skills/skills
    include _modules/footer/footer

